{
  "root": true,
  "extends": [
    "@react-native-community",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "tsconfigRootDir": "__dirname",
    "project": ["./tsconfig.json"]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"]
    }
  ]
}
